MOP/projet/MusicBoxProject/src/musicboxproject/musicBox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="musique" type="musiqueType"/>
    
    <xs:complexType name="musiqueType">
        <xs:sequence>
            <xs:element type="xs:string" name="auteur"/>
            <xs:element type="xs:string" name="titre"/>
            <xs:element type="voieType" name="voie" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="voieType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="noteSimpleType" name="noteSimple"/>
            <xs:element type="accordType" name="accord"/>
        </xs:choice>
    </xs:complexType>    
    

    <xs:complexType name="noteSimpleType">
        <xs:sequence>
            <xs:element name="note">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A"/>
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="E"/>
                        <xs:enumeration value="F"/>
                        <xs:enumeration value="G"/>
			            <xs:enumeration value="SILENCE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
	    <xs:element name="octave" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
	    <xs:element name="alteration" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:element>
            
	    <xs:element name="duration">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="accordType">
        <xs:sequence>
            <xs:element type="noteSimpleType" name="noteSimple" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>